html, body
  margin 0
  padding 0
  filter invert(1)

body
  animation 25s move_ra infinite linear
  align-items center
  background url('./assets/ancient.jpg') repeat
  display flex
  justify-content center
  min-height 100vh
  overflow-x hidden

.anubis
  align-items center
  display flex
  flex-direction column
  justify-content center
  transition .5s all
  h1
    background #000
    border-radius 10px
    border 2px solid #fff
    box-shadow 0 0 20px rgba(255,255,255, .2)
    color #fff
    display inline-block
    font-size 3rem
    font-weight bold
    padding 10px 20px
    text-align center

.anubis-photo
  animation 5s anubis infinite alternate
  border-radius 33px
  border 2px solid #fff
  cursor crosshair
  display block
  margin 0 auto
  transition .5s all
  width calc(100% - 33px)
  &:hover
    animation none
    border-radius 100px
    box-shadow 0 0 20px rgba(255,255,255, .2)
    filter invert(1)

@keyframes anubis
  0%
    filter invert(1)
  100%
    filter invert(0)

@keyframes move_ra
  0%
    background-position 0 0
  100%
    background-position 626px 626px

